@import "tailwindcss";

@theme {
    --color-primary: #ededed;
}

@layer base {
    body {
        color: var(--color-primary);
        background-color: black;
        overflow-x: hidden;
    }

    h1 {
        @apply transition text-6xl md:text-7xl font-bold font-mono;
    }

    img {
        @apply w-full h-full object-cover;
    }
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-between {
        @apply flex justify-between items-center;
    }
    .hover-blur {
        @apply hover:blur-xs;
    }
}
